<a href="https://colab.research.google.com/github/Chrys97/Hamoye/blob/master/Stage_C_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as py

In [61]:
df = pd.read_csv('/content/drive/My Drive/NFA 2019 public_data.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72186 entries, 0 to 72185
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         72186 non-null  object
 1   year            72186 non-null  int64
 2   country_code    72186 non-null  int64
 3   record          72186 non-null  object
 4   crop_land       51714 non-null  float64
 5   grazing_land    51714 non-null  float64
 6   forest_land     51714 non-null  object
 7   fishing_ground  51713 non-null  float64
 8   built_up_land   51713 non-null  float64
 9   carbon          51713 non-null  float64
 10  total           72177 non-null  float64
 11  QScore          72185 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 6.6+ MB

In [63]:
df['QScore'].value_counts()

3A    51481
2A    10576
2B    10096
1B       16
1A       16
Name: QScore, dtype: int64

In [64]:
df.isna().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [65]:
df = df.dropna()

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51713 entries, 0 to 72185
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         51713 non-null  object
 1   year            51713 non-null  int64
 2   country_code    51713 non-null  int64
 3   record          51713 non-null  object
 4   crop_land       51713 non-null  float64
 5   grazing_land    51713 non-null  float64
 6   forest_land     51713 non-null  object
 7   fishing_ground  51713 non-null  float64
 8   built_up_land   51713 non-null  float64
 9   carbon          51713 non-null  float64
 10  total           51713 non-null  float64
 11  QScore          51713 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 5.1+ MB

In [67]:
df['QScore'].value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

In [68]:
df['QScore'] = df['QScore'].replace(['1A'], '2A')
df['QScore'].value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [69]:
df_2A = df[df.QScore =='2A']
df_3A = df[df.QScore == '3A'].sample(350)
data_df = df_2A.append(df_3A)
data_df['QScore'].value_counts()

3A    350
2A    240
Name: QScore, dtype: int64

In [70]:
data_df

          country  year  country_code  ...        carbon         total  QScore
1536      Algeria  2016             4  ...  0.000000e+00  1.119497e+00      2A
1537      Algeria  2016             4  ...  0.000000e+00  4.545842e+07      2A
1538      Algeria  2016             4  ...  0.000000e+00  5.301590e-01      2A
1539      Algeria  2016             4  ...  0.000000e+00  2.152769e+07      2A
1540      Algeria  2016             4  ...  1.391455e+00  2.407316e+00      2A
...           ...   ...           ...  ...           ...           ...     ...
2347    Argentina  1968             9  ...  0.000000e+00  2.059238e+08      3A
24948  Guadeloupe  1989            87  ...  2.395438e+00  3.044695e+00      3A
38677    Malaysia  1993           131  ...  2.537402e+07  6.655143e+07      3A
61223    Thailand  2003           216  ...  7.009026e+07  1.439589e+08      3A
71860       World  1976          5001  ...  0.000000e+00  2.456644e+00      3A

[590 rows x 12 columns]

In [71]:
import sklearn.utils
data_df = sklearn.utils.shuffle(data_df)
data_df

            country  year  country_code  ...        carbon         total  QScore
65467       Ukraine  2016           230  ...  0.000000e+00  6.291534e+07      2A
71165    Montenegro  2013           273  ...  0.000000e+00  1.900632e+06      3A
4698       Barbados  2011            14  ...  0.000000e+00  1.894019e-01      3A
12049         Chile  1977            40  ...  0.000000e+00  5.000270e+07      3A
57334  South Africa  2016           202  ...  2.400628e+00  3.151458e+00      2A
...             ...   ...           ...  ...           ...           ...     ...
22569         Gabon  2016            74  ...  0.000000e+00  3.309439e+07      2A
43618   Netherlands  1973           150  ...  0.000000e+00  7.332168e-01      3A
20526       Finland  2016            67  ...  2.931224e+00  1.147803e+01      2A
56356     Singapore  2006           200  ...  0.000000e+00  4.863115e-02      3A
48367      Paraguay  2013           169  ...  3.159352e+06  2.278182e+07      3A

[590 rows x 12 columns]

In [72]:
data_df = data_df.reset_index(drop = True)
data_df

          country  year  country_code  ...        carbon         total  QScore
0         Ukraine  2016           230  ...  0.000000e+00  6.291534e+07      2A
1      Montenegro  2013           273  ...  0.000000e+00  1.900632e+06      3A
2        Barbados  2011            14  ...  0.000000e+00  1.894019e-01      3A
3           Chile  1977            40  ...  0.000000e+00  5.000270e+07      3A
4    South Africa  2016           202  ...  2.400628e+00  3.151458e+00      2A
..            ...   ...           ...  ...           ...           ...     ...
585         Gabon  2016            74  ...  0.000000e+00  3.309439e+07      2A
586   Netherlands  1973           150  ...  0.000000e+00  7.332168e-01      3A
587       Finland  2016            67  ...  2.931224e+00  1.147803e+01      2A
588     Singapore  2006           200  ...  0.000000e+00  4.863115e-02      3A
589      Paraguay  2013           169  ...  3.159352e+06  2.278182e+07      3A

[590 rows x 12 columns]

In [73]:
data_df.shape

(590, 12)

In [74]:
data_df = data_df.drop(columns = ['country_code', 'country', 'year'])
x = data_df.drop(columns = 'QScore')
y = data_df['QScore']

In [75]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,
                                                    random_state = 0)
y_train.value_counts()

3A    259
2A    154
Name: QScore, dtype: int64

In [76]:
!pip install imblearn

Requirement already satisfied: imblearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.6/dist-packages (from imblearn) (0.4.3)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (1.18.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->imbalanced-learn->imblearn) (0.16.0)

In [77]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train.record = encoder.fit_transform(x_train.record)
x_test.record = encoder.transform(x_test.record)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [81]:
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state = 1)
x_train_balanced, y_balanced = smote.fit_sample(x_train, y_train)
y_train.value_counts()

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

3A    259
2A    154
Name: QScore, dtype: int64

In [83]:
x_train_balanced = pd.DataFrame(x_train_balanced.drop(columns = ['record']))

AttributeError: ignored

In [82]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_train_df = scaler.fit_transform(x_train_balanced.drop(columns = ['record']))
normalized_train_df = pd.DataFrame(normalized_train_df, columns = x_train_balanced.drop(columns=['record']).columns)
normalized_train_df['record'] = x_train_balanced['record']

AttributeError: ignored

In [ ]:
x_train_balanced