In [1]:
import pandas as pd
import numpy as np
days = pd.Series(['Monday','Tuesday','Wednesday'])
print(days)

#creating series with a numpy array
days_list = np.array(['Monday','Tuesday','Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

#using strings as index
days = pd.Series(['Monday','Tuesday','Wednesday'], index = ['a','b','c'])

#creating series from a dictionary
days1 = pd.Series({'a':'Monday','b':'Tuesday','c':'Wednesday'})

print(days[0])
print(days[1:])
print(days['c'])

#print an empty dataframe
print(pd.DataFrame())


#create a dataframe from a dictionary
df_dict = {'Country':['Ghana','Kenya','Nigeria','Togo'],'Capital':['Accra','Nairobi','Abuja','Lome'],'Population':[10000,8500,35000,12000],'Age':[60,70,80,75]}
df = pd.DataFrame(df_dict, index = [2, 4, 6, 8], columns = ['Country','Capital','Population','Age'])
print(df)

# Or using lists
df_list = [['Ghana','Accra', 10000, 60],['Kenya','Nairobi', 8500, 70],['Nigeria','Abuja', 35000, 80], ['Togo','Lome', 12000, 75]]
df1 = pd.DataFrame(df_list, index = [2, 4, 6, 8], columns = ['Country','Capital','Population','Age'])

#select the row at index 3
print(df.iloc[3])

#select the row with index label 6
print(df.loc[6])

#select the Capital column
print(df['Capital'])

print(df.iat[2, 0])
print(df.at[6, 'Country'])

print(df['Population'].sum())
print(df.mean())
print(df.describe())

df_dict2 = {'Name':['James','Yemen','Caro',np.nan],'Profession':['Researcher','Artist','Doctor','Writer'],'Experience':[12,np.nan,10,8],'Height':[np.nan,175,180,150]}
new_df = pd.DataFrame(df_dict2,index = [1,2,3,4], columns = ['Name','Profession','Experience','Height'])
print(new_df)

# check for cells with missing values as True
print(new_df.isnull())

#remove rows with missing values
print(new_df.dropna())

0       Monday
1      Tuesday
2    Wednesday
dtype: object
0       Monday
1      Tuesday
2    Wednesday
dtype: object
Monday
b      Tuesday
c    Wednesday
dtype: object
Wednesday
Empty DataFrame
Columns: []
Index: []
   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75
Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object
Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object
2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object
Nigeria
Nigeria
65500
Population    16375.00
Age              71.25
dtype: float64
         Population        Age
count      4.000000   4.000000
mean   16375.000000  71.250000
std    12499.166639   8.539126
min     8500.000000  60.000000
25%     9625.000000  67.500000
50%    11000.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000
    Name  Profession  Experience  Height
1  James  Researcher        12.0     NaN
2  Yemen      Artist         NaN   175.0
3   Caro      Doctor        10.0   180.0
4    NaN      Writer         8.0   150.0
    Name  Profession  Experience  Height
1  False       False       False    True
2  False       False        True   False
3  False       False       False   False
4   True       False       False   False
   Name Profession  Experience  Height
3  Caro     Doctor        10.0   180.0